// Media Queries
@mixin breakpoint($point) {
  @if $point == medium {
    @media (min-width: $medium) { @content; }
  }
  @elseif $point == large {
    @media (min-width: $large) { @content; }
  }
  @elseif $point == xlarge {
    @media (min-width: $xlarge) { @content; }
  } 
  @elseif $point == xxlarge {
    @media (min-width: $xxlarge) { @content; }
  }
  @elseif $point == bp337 {
    @media (min-width: $bp337) { @content; }
  }
  @elseif $point == bp501 {
    @media (min-width: $bp501) { @content; }
  }
  @elseif $point == bp641 {
    @media (min-width: $bp641) { @content; }
  }  
  @elseif $point == bp768 {
    @media (min-width: $bp768) { @content; }
  }  
  @elseif $point == bp770 {
    @media (min-width: $bp770) { @content; }
  }    
  @elseif $point == range1 {
    @media (min-width: $bp320) and (max-width: $bp530) { @content; }
  }  
  @elseif $point == range2 {
    @media (min-width: $bp531) and (max-width: $bp767) { @content; }
  }  
  @elseif $point == range3 {
    @media (min-width: $bp400) and (max-width: $medium) { @content; }
  }    
}