html,
body {
    height: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    background: black;
}

body#tinymce  {
    background: white !important;
}

a {
    color: black;
    text-decoration: none;

    &:hover {
        color: $red;
    }
}

p {
    margin-bottom: 1.25rem; 
    line-height: 1.6em;   
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #757575!important;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #757575!important;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #757575!important;
}
:-moz-placeholder { /* Firefox 18- */
  color: #757575!important;
}

:placeholder {
    color: #757575!important;
}

.read-more {

    a {
        display: inline-block;
        font-size: 12px;
        color: #000000;
        text-transform: uppercase;
        padding-right: 15px;
        background: url("/wp-content/themes/bfdg/images/overlay-arrow.svg") right 4px no-repeat;

        &:hover {
            color: $red;
        }       
    }
}


.result-author {
    font-style: normal;
    font-size: 14px;
    line-height: 26px;
    color: #d42122;
}

.result-position {
    font-style: normal;
    font-size: 12px;
    line-height: 14px;
    color: #696969;
}

.no-scroll {
    overflow: hidden;
}

body {
    font-family: 'Source Sans Pro', sans-serif !important;
}

#back-to-top {
    position: fixed;
    z-index: 9999;
    width: 30px;
    height: 30px;
    right: 20px;
    bottom: 20px;
    display: none;

    a {
        text-indent: -9999em;
        display: block;
        background: url('/wp-content/themes/bfdg/images/arrow-up.svg') left top no-repeat;
        width: 30px;
        height: 30px;        
    }
}

.row {
    @include breakpoint(bp337) {
        max-width: 48.063em;
    }
}

#header-wrap {

    @include breakpoint(bp770) {
        width: 100%;
        background: url('/wp-content/themes/bfdg/images/header-bg-left.png') center top no-repeat, url('/wp-content/themes/bfdg/images/header-bg-right.png') #ffffff center top no-repeat;
        height: 169px;        
    }

}

.header {
    background: black;
    position: relative;
    z-index: 995;

    .nav-top-social {
        display: none;

        @include breakpoint(bp770) {
            display: block;
            clear: both;
            float: right;
            width: 256px;            
        }

        ul {
            @include breakpoint(bp770) {
                margin: 0 !important;
                float: left; 
            }

            li {

                @include breakpoint(bp770) {
                    float: left;
                    list-style: none;
                }

                &:nth-child(1) {
                    @include breakpoint(bp770) {
                        width: 128px;    
                    }
                }

                &:nth-child(2) {
                    @include breakpoint(bp770) {
                        width: 128px;   
                    }
                }

                a {
                    @include breakpoint(bp770) {
                        display: block;    
                    }

                    img {
                        @include breakpoint(bp770) {
                            display: block;  
                        }
                    }
                }
            }
        }
    }
}

.stuck {
    width: 100%;
    position: fixed;
    z-index: 9999;
}

// Footer //

#footer-wrap {
    width: 100%;
    background: #000000;
}

footer {
    padding: 40px 0 40px 0;
    text-align: center;
    clear: both;

    img {
        width: 19px;
        height: 19px;
        margin-bottom: 5px;
    }

    p {
        font-size: 12px;
        margin: 0;
        line-height: 1.4em;

        &.footer-bfdg {
            color: #898984;
            text-transform: uppercase;
            font-size: 11px;
        }

        a, a:hover {
            color: #898984;
        }

        &:nth-child(2),
        &:nth-child(3) {
            margin-bottom: 28px;
        }
    }

    article {

        p {

            &:nth-child(1) {
               margin-bottom: 5px; 
            }

            &:nth-child(2),
            &:nth-child(3) {
                margin-bottom: 28px;
            }
        }
    }
}

.project,
ul#cat-thumbs li,
ul#similar-projects li {
    position: relative;

    a {
        display: block;
        background: black;
    }

    &:hover {
        a {
            background: black;
        }

        img.preview {
            opacity: 0.2;
        }

        .preview-center {
            z-index: 9999;
            opacity: 1;

            img  {
                display: inline;
            }
        }        
    }
}

.project {
    .preview-center {
        opacity: 0;
        text-align: center;
        position: absolute;
        left: 50%;
        top: 50%;
        width: 90%;
        transform: translate(-50%, -50%);

        .hover-title {
            display: block;
            color: #c1b58c;
            font-size: 24px;
            font-weight: 300;
            margin-bottom: 7px;
            text-align: center;        
        }

        p {

            // Home page hover effects
            line-height: 1.6em;
            margin-bottom: 1.25em;

            .hover-banner {
                color: white;
                font-size: 18px;
                font-weight: 300;
                text-align: center;  
            }
        }

        .project-hover,
        .category-hover {
            img {
                text-align: center;
            }
        }
    }
}

ul#similar-projects li,
ul#cat-thumbs li {
    .preview-center {
        opacity: 0;
        text-align: center;
        position: absolute;
        left: 50%;
        top: 50%;
        width: 90%;
        transform: translate(-50%, -50%);

        .hover-title {
            color: #ffffff;
            font-size: 18px;
            line-height: 20px;
            font-weight: 300;
            text-align: center;
            display: block;
            margin-bottom: 7px;
        }
    }

    &:hover {
        .preview-center {
            z-index: 9999;
            opacity: 1;

            img  {
                display: inline;
            }
        } 
    }
}





.wide {
    width: 100%;
    background: #ffffff;
}

.row .inrow {
    margin-left: -0.9375rem;
    margin-right: -0.9375rem;
}





.contain-to-grid {
    height: 33px;
    line-height: 33px;
    background: black !important;
}

.top-bar {
    @extend .contain-to-grid;

    ul.title-area {
        height: 33px;
        background-color: none;

        @include breakpoint(bp770) {
            background: black;
            width: 512px;
            position: relative;
            float: left;
        }

        .name {

           
            a {
                text-indent: -9999em;
                position: relative;
                z-index: 9999;
                width: 230px;
                height: 33px;
                display: block;
                background: url("/wp-content/themes/bfdg/images/bfdg-logo-small.svg") left top no-repeat;

                @include breakpoint(bp337) {
                    text-indent: -9999em;
                    position: relative;
                    z-index: 9999;
                    width: 260px;
                    height: 33px;
                    background: url("/wp-content/themes/bfdg/images/bfdg-logo.svg") left top no-repeat;                        
                }      
            }
            
        }

        li.plus {
            position: absolute;
            top: 9px;
            right: 50px;
            color: white;
            width: 15px;
            height: 15px;
            background: url("/wp-content/themes/bfdg/images/categories-plus.svg");
            cursor: pointer;

            @include breakpoint(bp770) {
                right: 13px;
            }      
        }

        .toggle-topbar {

            @include breakpoint(medium) {
                display: none;
            }

            &.menu-icon {
                padding-left: 0 !important;
                padding: 0;
                //margin-top: -16px;
                position: absolute;
                right: 15px;
                top: 0;

                a {
                    height: 34px;
                    line-height: 33px;
                    padding: 0;
                    color: #ffffff;
                    position: relative;
                    display: block;
                    width: 16px;

                    &::after {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 16px;
                        display: block;
                        height: 0px;
                        content: "";
                        box-shadow: 0px 11px 0px 1px #6b6b6b, 
                                    0px 16px 0px 1px #6b6b6b, 
                                    0px 21px 0px 1px #6b6b6b;
                        width: 15px;
                    }
                }
            }
        }
    }

    .top-bar-section {
        @include breakpoint(bp770) {
             float: right;
        }

        ul {

            @include breakpoint(bp770) {
                width: 256px;
                background: none !important;
            }

            li {
                @include breakpoint(bp770) {
                    float: none !important;
                }

                a {
                    @include breakpoint(bp770) {
                        background: #ffffff !important;
                        color: #898984;
                        border-bottom: solid 1px #e9e9e7;
                        line-height: 26px !important;
                        font-size: 14px !important;
                        display: block;
                        width: 256px;
                        padding: 0 15px;
                        font-weight: 400;
                    }
                }

                &:not(.has-form) {
                    a {
                        &:hover {
                            &:not(.button) {
                                background: #ffffff !important;
                                color: #000000;
                            }
                        }
                    }
                }

                &.is-active {
                    &:not(.has-form) {
                        a {

                            @include breakpoint(bp501) {
                               color: black !important; 
                            }
                           
                           
                            &:hover {
                                &:not(.button) {

                                    @include breakpoint(bp501) {
                                        color: black !important;    
                                    }
                                    
                                }   
                            } 
                        }
                    }
                }

                &:not(.menu-text) {
                    & > a {
                        padding: 0 15px;
                    }
                }

                &:not(:last-child) {
                    border: none;
                }
            }
        }        
    }   

    &.expanded {
        background: none !important;

        .title-area {
            background: black;

            .toggle-topbar {
                &.menu-icon {
                    a {
                        &::after {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 16px;
                            display: block;
                            height: 0px;
                            content: "";                        
                            box-shadow: 0px 11px 0px 1px $red, 0px 16px 0px 1px $red, 0px 21px 0px 1px $red;
                            width: 15px; 
                        }
                    }
                }
            }            
        }

        ul#menu-main-menu {
            display: block !important;
            width: 100%;
            height: 100vh;
            background: hsla(0,0%,0%,0.9);
            margin-top: 10px;
            margin-left: 0;

            li {
                margin-bottom: 20px;
                margin-top: 20px;
                float: left;
                width: 100vw;

                a {
                    background: none !important;
                    color: white;
                    border-bottom: none;
                    line-height: 22px !important;
                    text-align: center;
                    font-size: 22px;
                    font-weight: 300;

                    @include breakpoint(bp337) {
                        line-height: 24px !important;
                        font-size: 24px;
                    } 

                    @include breakpoint(bp770) {
                        font-size: 14px;
                    }
                }
            }
        }

        .top-bar-section {
           position: relative;
           height: 100%;
           min-height: 100%;


        }


    }
}




#cat-overlay {
    cursor: url(/wp-content/themes/bfdg/images/categories-close-overlay.svg), auto;
}

.categories {
    position: relative;

    #cat-wrap {
        position: fixed;
        z-index: 9997;
        top: 0;
        width: 256px;
        background: $red;
        display: none;

        @include breakpoint(bp501) {
            width: 513px;
        }

        #cat-close {
            position: absolute;
            top: 16px;
            right: 16px;
            cursor: pointer;
            z-index: 9999;
            width: 16px;
            height: 16px;
        }

        #cat-nav {
            position: absolute;
            top: 0;
            left: 0;
            width: 256px;
            height: 130px;
            background: $red;
            padding: 25px 0 0 23px;
            z-index: 9998;

            @include breakpoint(bp501) {
                width: 513px;
                height: 185px;
                padding: 30px 0 0 23px;
            }

            ul {
                margin: 0;
                padding: 0;

                li {
                    list-style: none;
                    padding: 0;
                    margin: 0;

                    a {
                        font-size: 16px;
                        font-weight: 300;
                        color: black;
                        line-height: 1.6em;

                        @include breakpoint(bp501) {
                            font-size: 24px;
                        }

                        &:hover,
                        &.cat-curr {
                            color: white;
                        }
                    }
                }
            }
        }

        #cat-inside {
            position: fixed;
            top: 0;
            width: 256px !important;
            height: 100% !important;
            overflow: auto !important;
            background: $red;
            padding-top: 47px;
            z-index: 9997;
            -ms-overflow-style: -ms-autohiding-scrollbar;

            @include breakpoint(bp501) {
                width: 513px !important;
            }

            #cat-thumbs {
                margin: 0;
                padding: 0;
                padding-top: 130px;
                position: relative;
                z-index: 9999;
                display: flex;
                flex-wrap: wrap;

                @include breakpoint(bp501) {
                    padding-top: 185px;
                }

                li {
                    position: relative;
                    // float: left;
                    width: 50%;
                    margin: 0 0 5px 0;
                    padding: 0;
                    list-style: none;

                    @include breakpoint(bp501) {
                        float: left !important;
                        width: 50%;
                        margin: 0 0 10px 0;
                    }

                    a {
                        &.category-hover {
                            display: none;
                            z-index: 9999;
                            
                            .hover-title {
                                display: block;
                                color: white;
                                font-size: 18px;
                                line-height: 20px;
                                font-weight: 300;
                                text-align: center;
                            }  
                        }

                        img {
                            display: block;
                        }
                    }

                    &:hover {
                        a {
                            &.category-hover {
                                display: block;

                                .preview-center {
                                    img {
                                        display: inline;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

#cat-padding {
    padding-bottom: 100px;
}

[role="banner"] {
    background: black;
    z-index: 1;
    position: relative;

    @include breakpoint(bp770) {
        z-index: 997;
    }

    article {
        padding: 20px 40px 5px 35px;

        @include breakpoint(bp337) {
            padding: 20px 40px 10px 45px;
        }

        @include breakpoint(bp770) {
            position: absolute;
            top: -113px;
            left: 45px;
            z-index: 997;
            width: 450px;
            padding: 0;
            margin: 0;
        }

        h1 {
            font-size: 22px;
            font-weight: 300;
            line-height: 24px;
            color: white !important; 

            @include breakpoint(bp337) {
                font-size: 24px;
                line-height: 30px;
            }  
        } 
    }
}

section.about-overview {
    margin-top: 15px;
    padding-left: 2%;

    @include breakpoint(bp337) {
        margin-top: 16px;
    }

    p {
        color: #696969;
        font-size: 15px;
        line-height: 20px;

        @include breakpoint(bp337) {
            font-size: 18px;
            line-height: 28px;
        }  
    }
}

aside.about-process {
    margin-top: 35px;
    padding-left: 2%;

    @include breakpoint(bp337) {
        margin-top: 50px;
    }

    span {
        @include breakpoint(bp337) {
            font-size: 13px;
        }
    }

    p {
        color: #696969;
        margin: 0 0 30px 0;
        font-size: 15px;
        line-height: 20px;

        @include breakpoint(bp337) {
            font-size: 14px;
            line-height: 20px;
            margin: 0 0 10px 0;
        }  
    }
}

.contact-map {
    margin-bottom: 45px;

    @include breakpoint(bp337) {
        margin-bottom: 10px;
        padding-left: 45px !important;
    }

}

.contact-form {
    width: 80%;
    margin: 0 auto 25px auto;

    @include breakpoint(bp337) {
        width: 100%;
        margin: 0;
        padding-left: 45px;
    }

    form {
        input,
        textarea {
            border: solid 1px #aaaaa3;
            box-shadow: none;
            margin-bottom: 5px;
            color: #aaaaa3 !important;
            font-size: 14px;
            -webkit-appearance: none;
            border-radius: 0;
        }

        textarea {
            height: 84px;
            resize: none;
            margin-bottom: 5 !important;  
        }

        input {
            &[type="submit"] {
                margin-top: 0 !important;
                width: 100%;
                height: 38px;
                margin-bottom: 0;
                background: url("/wp-content/themes/bfdg/images/form-submit.svg") center top no-repeat;
                cursor: pointer; 
            }
        }

        span.wpcf7-not-valid-tip,
        span.wpcf7-not-valid-tip {
            color: #d42122;
            font-size: 1em;
            display: block;
            line-height: 16px;
            margin-bottom: 10px;
        }
    }
}


// Form response styles

div.wpcf7-response-output {
    margin: -30px 0 0 !important;
}

.client-form .wpcf7-response-output {
    margin: 20px 0 0 0px !important;
    padding-left: 0 !important;
}

div.wpcf7-response-output {
    clear: both;
    float: left;
}

div.wpcf7-mail-sent-ok,
div.wpcf7-mail-sent-ng,
div.wpcf7-spam-blocked,
div.wpcf7-validation-errors {
    border: none !important;
    margin-left: 0;
}

span.wpcf7-form-control-wrap {
    display: block;
    float: left;
    width: 100%;
}

section.contact-address,
section.contact-phone,
section.contact-fax {
    display: none;

    @include breakpoint(bp337) {
        display: block;
    }

    p {
        strong {
            font-weight: bold;
        }
        @include breakpoint(bp337) {
            font-size: 13px;
            line-height: 17px;
            color: #696969;
            margin-bottom: 0;
        }
    }
}

section.contact-address {

    @include breakpoint(bp337) {
        margin-top: 15px;
        margin-bottom: 5px;
    }
}

section.contact-fax {

    @include breakpoint(bp337) {
        p {
            strong {
                font-size: 13px;
                color: #000000;
            }
        }        
    }

}

section.contact-phone {
    @include breakpoint(bp337) {
        p {
            strong {
                font-size: 13px;
                color: #000000;
            }
        }        
    }
}


// News Page

.news-item {
    border-bottom: solid 1px #dadad7;
    margin-bottom: 10px;
    padding-bottom: 20px;

    img {
        margin-bottom: 10px;    
    }

    h2 {
        font-size: 24px;
        line-height: 27px;
    }

    p {
        color: #696969;
        font-size: 14px;
        line-height: 1.6;  
    }

    a.more {
        display: inline-block;
        font-size: 12px;
        color: #000000;
        text-transform: uppercase;
        padding-right: 15px;
        background: url("/wp-content/themes/bfdg/images/overlay-arrow.svg") right 1px no-repeat;

        span {
            color: $red;
        }
    }

    .news-center {
        width: 76%;
        margin: 0 auto 0 auto;

        @include breakpoint(bp337) {
            width: 86%;
        }
    }

    span.date {
        color: #696969;
        font-size: 14px;
        line-height: 14px;
        margin-bottom: 8px;
        display: block;  
    }
}



.project-container {
    padding-top: 40px;

    .project-desc-light {

        p {
            width: 86%;
            padding-left: 33px;

            @include breakpoint(bp337) {
                padding-left: 45px;
            }

            @include breakpoint(bp770) {
                width: 100%;
            }               
        }

    }

    .project-desc-dark {

        p {
            width: 86%;
            padding-left: 33px;

            @include breakpoint(bp337) {
                padding-left: 45px;
            } 

            @include breakpoint(bp770) {
                width: 100%;
            }                        
        }
    }

    .project-headings {

        h1 {
            padding-left: 33px;
            font-size: 14px;
            color: $red;
            margin: 0 0 6px 0 !important;
            line-height: 17px !important;
            width: 86%; 

            @include breakpoint(bp337) {
                padding-left: 45px;
            }

            @include breakpoint(bp770) {
                width: 100%;
            }                        
        }

        h2 {
            padding-left: 33px;
            font-size: 32px !important;
            line-height: 0.9 !important;
            margin-bottom: 21px !important;
            width: 86%;

            @include breakpoint(bp337) {
                padding-left: 45px;
            }

            @include breakpoint(bp770) {
                width: 100%;
            }       
        }
    }

    .thoughts-headings {

        h1 {
            padding-left: 33px;
            font-size: 32px !important;
            line-height: 1 !important;
            margin-bottom: 21px !important;

            @include breakpoint(bp337) {
                padding-left: 45px;
            }  
        }
    }

    .project-image-single {
        margin-bottom: 40px;        
    }

    .project-result {
        p {
            font-size: 18px;
            font-style: italic;
            line-height: 26px;
            padding-left: 45px;
            width: 86%;

            @include breakpoint(bp770) {
                width: 100%;
            }   
        }
    }


    .client-form-intro {
        padding: 37px 0 0 0;

        h2 {
            font-size: 24px;
            font-weight: 300;
            margin-left: 33px;
            margin-bottom: 20px;
            width: 86%;

            @include breakpoint(bp337) {
                margin-left: 45px;
            }

            @include breakpoint(bp770) {
                width: 100%;
            }  
        }
    }

    .client-form {
        padding: 0 0 30px 0;

        @include breakpoint(bp337) {
            padding: 0;
        }
        
        h2 {
            font-size: 24px;
            font-weight: 300;
            margin-left: 0;
            margin-bottom: 20px; 

            @include breakpoint(bp337) {
                padding-left: 0 !important;
            } 
        }

        .form-left {
            margin-left: 0px;
            width: 100%; 

            @include breakpoint(bp770) {
                float: left;
                width: 362px;
            }
         }

        .form-right {
            margin-left: 0px;
            width: 100%;

            @include breakpoint(bp770) {
                float: right;
                width: 362px;
            }
        }

        form {
            input {
                border: solid 1px #aaaaa3;
                box-shadow: none;
                margin-bottom: 10px;
                color: #aaaaa3 !important;
                font-size: 14px;
                border-radius: 0; 

                &[type="submit"] {
                    margin-top: 0 !important;
                    width: 100%;
                    height: 38px;
                    margin-bottom: 0;
                    background: url("/wp-content/themes/bfdg/images/form-submit.svg") center top no-repeat;
                    cursor: pointer;

                    @include breakpoint(bp770) {
                        width: 362px;
                    }
                }
            }

            textarea {
                border: solid 1px #aaaaa3;
                box-shadow: none;
                margin-bottom: 10px;
                color: #aaaaa3 !important;
                font-size: 14px;
                border-radius: 0;
                height: 84px;
                resize: none;
                margin-bottom: 5 !important; 
            }
        }
    }
}


.wpcf7-response-output.wpcf7-validation-errors {
    font-size: 18px;
    line-height: 30px;
    font-weight: 500;
    color: #d42122;
}

.wpcf7-response-output.wpcf7-mail-sent-ok {
    font-size: 18px;
    line-height: 30px;
    font-weight: 500;
    color: #d42122;   
}

section.client-heading {
    display: block;
    margin: 40px 0 20px 0;
    text-align: center;

    h2 {
        font-size: 24px;
        display: inline-block;
        margin: 0 auto;
        text-align: center;
        width: 256px;
        font-weight: 300;
        border-bottom: solid 1px #dadad7; 
    }
}



section.client-heading-result {
    display: block;
    margin: 44px 0 20px 0;
    text-align: center;

    h2 {
        font-size: 24px;
        line-height: 24px;
        display: inline-block;
        margin: 0 auto;
        text-align: center;
        width: 256px;
        font-weight: 300;
        border-bottom: solid 1px #dadad7;
    }
}


section.client-heading-share {
    display: block;
    margin: 11px 0 20px 0;
    text-align: center;

    h2 {
        font-size: 24px;
        display: inline-block;
        margin: 0 auto;
        text-align: center;
        width: 256px;
        font-weight: 300;
        border-bottom: solid 1px #dadad7;       
    }
}


section.client-heading-bottom {
    display: block;
    margin: 25px 0 20px 0;
    text-align: center;

    h2 {
        font-size: 24px;
        display: inline-block;
        margin: 0 auto;
        text-align: center;
        width: 256px;
        font-weight: 300;
        border-bottom: solid 1px #dadad7;   
    }
}


.client-categories-list {
    line-height: 14px;
    margin: 0;

    li {
        list-style: none;
        text-align: center;
        padding: 0 !important;
        margin: 0;

        a {
            font-size: 14px;
            line-height: 40px;
            color: #aaaaa3;

            &:hover {
                color: $red;
            }            
        }   
    }
}


.project-desc-light {
    p {
        color: #696969;

        strong {
            font-weight: bold;
        }          
    }
}

.project-desc-dark {
    p {
        color: black;
        font-size: 18px;
        line-height: 26px;

        strong {
            font-weight: bold;
        }      
    }
}

.project-gray {
    background: #ebebeb;
    padding: 50px 0;

    p {
        padding-left: 33px; 

        @include breakpoint(bp337) {
            padding-left: 45px;
        } 

        strong {
            font-weight: bold;
        }       
    }
}

.project-white {
    background: white;
    padding: 50px 0;

    p {
        padding-left: 33px; 

        @include breakpoint(bp337) {
            padding-left: 45px;
        } 

        strong {
            font-weight: bold;
        }        
    }
}

.project-combo {
    img {
        margin-bottom: 40px;   
    }

    p {
        font-size: 14px !important;
        font-style: italic;
        color: #696969;
        width: 86%;

        @include breakpoint(bp770) {
            width: 100%;
        } 

        strong {
            font-weight: bold;
        }      
    }
}

.slick-slider {
    .slick-prev {
        display: block;
        background: url("/wp-content/themes/bfdg/images/slideshow-left-arrow-off.png") rgba(218, 218, 215, 0.8) center center no-repeat;
        width: 65px;
        height: 65px;
        text-indent: -9999em;
        position: absolute;
        left: 0;
        top: calc(50% - 65px);
        z-index: 2;

        &:hover {
            background: url("/wp-content/themes/bfdg/images/slideshow-left-arrow-on.png") rgba(218, 218, 215, 0.8) center center no-repeat;
            width: 65px;
        } 

        & > span {
            display: none;
        }          
    }

    .slick-next {
        display: block;
        width: 65px;
        height: 65px;
        text-indent: -9999em;
        background: url("/wp-content/themes/bfdg/images/slideshow-right-arrow-off.png") rgba(218, 218, 215, 0.8) center center no-repeat;
        position: absolute;
        right: 0;
        top: calc(50% - 65px);
        z-index: 2;

        &:hover {
            background: url("/wp-content/themes/bfdg/images/slideshow-right-arrow-on.png") rgba(218, 218, 215, 0.8) center center no-repeat;
            width: 65px;   
        }

        & > span {
            display: none;
        }      
    }

    .slick-dots {
        text-align: center;
        margin-bottom: 30px;

        li {
            width: 10px;
            height: 10px;
            border-radius: 0px;
            cursor: pointer;
            background: #dadad7;
            display: inline-block;
            text-indent: -9999em;
            margin: 0 3px;

            &.slick-active {
                background: #aaaaa3;    
            }  
        }
    }
}



.share-icons {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 256px;

    li {
        list-style: none;
        
        a {
            img {
                height: 38px;    
            }
        }    
    }
}


#similar-projects {
    margin: 0;
    padding: 0;

    li {
        float: left;
        position: relative;
        text-align: center;
        list-style: none;
        width: 88%;
        margin: 0;
        padding: 0;

        @include breakpoint(bp337) {
            width: 33.33333%;
        }

        img {
            display: block;
        }

        .preview-center {
            display: inline;
        }     
    }
}

.other-thoughts-menu {
    @extend #similar-projects;
    margin-left: 0;

    li {
        float: left;
        list-style: none;
        width: 88%;
        margin: 0;
        padding: 0;

        @include breakpoint(bp337) {
            width: 33.33333%;
        }        

        img {
            display: block;
        }    
    }

}

#similar-projects-wrap {
    background: url("/wp-content/themes/bfdg/images/similar-projects-bg-mobile.png") left bottom repeat-x;

    @include breakpoint(bp337) {
        background: url("/wp-content/themes/bfdg/images/similar-projects-bg-tablet.png") left bottom repeat-x;
    }
}

.nav-bottom-social {
    margin: 0 auto !important;
    width: 87.66667%;

    // display: none;

    @include breakpoint(bp337) {
        width: 256px;
    }

    @include breakpoint(medium) {
        display: block;
    }

    @include breakpoint(large) {
        display: none;
    }

    ul {
        margin: 0 !important;
        text-align: center;

        li {
            list-style: none;
            float: left;
            width: 50%;

            @include breakpoint(bp337) {
                width: 128px;
            }

            a {
                display: block; 

                img {
                    display: block;
                    background: #cc0000;
                }  
            }

            &:nth-child(2) {
                position: relative;
                left: 0px;

                @include breakpoint(bp337) {
                    left: 2px;
                } 
            }

            &:nth-child(4) {
                position: relative;
                left: -2px;

                @include breakpoint(bp337) {
                    left: -1px;
                }     
            }
        }  
    }
}


section.partial-client-list {
    display: block;
    margin: 40px 0 20px 0;
    text-align: center;

    h2 {
        font-size: 24px;
        display: inline-block;
        margin: 0 auto;
        text-align: center;
        padding: 0 48px 0 48px;
        font-weight: 300;
        border-bottom: solid 1px #dadad7;       
    }
}

div.partial-client-list {

    margin-bottom: 33px;

    ul {

        margin-bottom: 33px;

        // 320px - 530px
        @include breakpoint(range1) {
            margin: 0;
            padding: 0;
            column-count: 1 !important;
            column-gap: 0px;
            column-rule: none;            
        }

        // 531px - 767px
        @include breakpoint(range2) {
            margin: 0;
            padding: 0;
            column-count: 2 !important;
            column-gap: 10px;
            column-rule: none;            
        }

        // 768px
        @include breakpoint(bp768) {
            margin: 0;
            padding: 0;
            column-count: 3 !important;
            column-gap: 10px;
            column-rule: none;
        }

        li {
            font-weight: 400;
            list-style: none;
            font-size: 14px;
            line-height: 20px;
            margin: 0 0 5px 0;
            color: #696969;
            text-align: left;

            a {
                color: black;

                &:hover {
                    color: $red;
                }
            }

            @include breakpoint(range1) {
                list-style: none;
            }  
        }

    }
}

.home-row {
    width: 100%;
    float: left;
    clear: both;

    .project > a:first-child img {
        display: block;
    }

    .home-row-big-left {
        float: left;
        width: 100%;
        width: calc(3/3 * 100%);

        @include breakpoint(bp501) {
            width: 66.66667%;
            width: calc(2/3 * 100%);
        }
    }

    .home-row-big-right {
        float: left;
        width: 100%;
        width: calc(3/3 * 100%);

        @include breakpoint(bp501) {
            width: 66.66667%;
            width: calc(2/3 * 100%);
        }

    }

    .home-row-small-right {
        float: left;
        width: 100%;
        width: calc(3/3 * 100%);

        @include breakpoint(bp501) {
            width: 33.33333%;
            width: calc(1/3 * 100%);
        }
    }

    .home-row-small-left {
        float: left;
        width: 100%;
        width: calc(3/3 * 100%);

        @include breakpoint(bp501) {
            width: 33.33333%;
            width: calc(1/3 * 100%);
        }
    }
}

#error-message {
    margin-left: 33px;
    margin-bottom: 50px;

    @include breakpoint(bp337) {
        margin-left: 45px;
        margin-bottom: 108px;
    }

    h1 {
        font-weight: 200;
        font-size: 50px;
        color: $red;
        margin-left: -2px; 
        line-height: 1.6em;

        @include breakpoint(bp337) {
            font-size: 100px;
        }  
    }

    p {
        font-weight: 300;
        font-size: 24px;
        line-height: 30px;       
    }

    ul {
        margin: 0;

        li {
            display: block;
            margin-bottom: 30px;

            @include breakpoint(bp337) {
                display: inline-block;
                margin-right: 40px;
            }

            a {
                color: black;
                text-decoration: underline;
                font-size: 18px;

                &:hover {
                    color: black;
                    text-decoration: underline;
                    font-size: 18px;                    
                }
            }
        }
    }

    .partial-client-list {

        ul {
            column-count: 1;
            column-gap: 0px;
            column-rule: none;

            li {
                list-style: none;
            }            
        }
    }
}


.thoughts-item {
    float: left;
    width: 50% !important;
    height: 250px;

    @include breakpoint(range3) {
        height: 195px;
        width: 25% !important;
    }

    @include breakpoint(bp641) {
        height: 195px;
        width: 16.66667% !important;        
    }

    img {
        margin-bottom: 8px;
    }

    h2 {
        font-size: 14px;
        line-height: 17px;
        padding-left: 10px; 
        
        a {
            color: #696969;
        }       
    }
}