
// Custom breakpoints (bp)
$bp320: 320px;
$bp337: 337px;
$bp400: 400px;
$bp501: 501px;
$bp530: 530px;
$bp531: 531px;
$bp641: 641px;
$bp767: 767px;
$bp768: 768px;
$bp770: 770px; 

// Standard breakpoints
$medium: 640px;
$large: 1024px;
$xlarge: 1200px;
$xxlarge: 1440px;

// Colors
$red: hsla(358, 71%, 48%, 1); // aka #d2232a
