body#tinymce  {
    background: white !important;
}

body#tinymce.wp-editor a {
    color: #d2232a;
}

.read-more a {
	display: inline-block;
	font-size: 12px;
	color: #000;
	text-transform: uppercase;
	padding-right: 15px;
	background: url("/wp-content/themes/bfdg/images/overlay-arrow.svg") right 4px no-repeat;
}

.result-author {
	font-style: normal;
	font-size: 14px;
	line-height: 26px;
	color: #d42122;
}

.result-position {
	font-style: normal;
	font-size: 12px;
	line-height: 14px;
	color: #696969;
}